@font-face {
  font-family: "Inter";
  src: url("/Inter/inter.ttf") format("truetype"),
    url("/Inter/inter-italic.ttf") format("truetype");
  font-style: normal;
}

:root {
  /* ------------------------
     Darker Shades
  ------------------------ */
  --color-primary-dark-1: 220, 98%, 4%;
  --color-primary-dark-2: 220, 93%, 10%;
  --color-primary-dark-3: 220, 86%, 16%;
  --color-primary-dark-4: 220, 77%, 23%;
  --color-primary-dark-5: 220, 66%, 31%;
  --color-primary-dark-6: 220, 56%, 40%;
  --color-primary-dark-7: 220, 45%, 49%;
  --color-primary-dark-8: 220, 51%, 59%;
  --color-primary-dark-9: 220, 58%, 68%;
  --color-primary-dark-10: 220, 65%, 78%;
  --color-primary-dark-11: 220, 74%, 87%;
  --color-primary-dark-12: 220, 84%, 94%;

  /* ------------------------
     Base Palette
  ------------------------ */
  --color-primary-1: 220, 97%, 2%;
  --color-primary-2: 220, 91%, 6%;
  --color-primary-3: 220, 82%, 11%;
  --color-primary-4: 220, 71%, 18%;
  --color-primary-5: 220, 60%, 27%;
  --color-primary-6: 220, 48%, 36%;
  --color-primary-7: 220, 37%, 47%;
  --color-primary-8: 220, 39%, 58%;
  --color-primary-9: 220, 45%, 70%;
  --color-primary-10: 220, 51%, 80%;
  --color-primary-11: 220, 57%, 89%;
  --color-primary-12: 220, 67%, 96%;

  /* ------------------------
     Lighter Shades
  ------------------------ */
  --color-primary-light-1: 220, 97%, 0%;
  --color-primary-light-2: 220, 88%, 2%;
  --color-primary-light-3: 220, 76%, 6%;
  --color-primary-light-4: 220, 63%, 12%;
  --color-primary-light-5: 220, 49%, 20%;
  --color-primary-light-6: 220, 37%, 30%;
  --color-primary-light-7: 220, 26%, 43%;
  --color-primary-light-8: 220, 23%, 56%;
  --color-primary-light-9: 220, 25%, 69%;
  --color-primary-light-10: 220, 27%, 81%;
  --color-primary-light-11: 220, 28%, 91%;
  --color-primary-light-12: 220, 28%, 97%;

  /* ------------------------
     Typography
  ------------------------ */
  --font-size-xs: 0.75rem; /* 12px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-md: 1rem; /* 16px */
  --font-size-lg: 1.25rem; /* 20px */
  --font-size-xl: 1.5rem; /* 24px */
  --font-size-2xl: 2rem; /* 32px */
  --font-size-3xl: 2.5rem; /* 40px */
  --font-size-4xl: 3rem; /* 48px */

  --line-height-xs: 1rem;
  --line-height-sm: 1.25rem;
  --line-height-md: 1.5rem;
  --line-height-lg: 1.75rem;
  --line-height-xl: 2rem;

  /* ------------------------
     Secondary Darker Shades
  ------------------------ */
  --color-secondary-dark-1: 340, 98%, 4%;
  --color-secondary-dark-2: 340, 93%, 10%;
  --color-secondary-dark-3: 340, 86%, 16%;
  --color-secondary-dark-4: 340, 77%, 23%;
  --color-secondary-dark-5: 340, 66%, 31%;
  --color-secondary-dark-6: 340, 56%, 40%;
  --color-secondary-dark-7: 340, 45%, 49%;
  --color-secondary-dark-8: 340, 51%, 59%;
  --color-secondary-dark-9: 340, 58%, 68%;
  --color-secondary-dark-10: 340, 65%, 78%;
  --color-secondary-dark-11: 340, 74%, 87%;
  --color-secondary-dark-12: 340, 84%, 94%;
  /* ------------------------
     Secondary Base Palette
  ------------------------ */
  --color-secondary-1: 340, 97%, 2%;
  --color-secondary-2: 340, 91%, 6%;
  --color-secondary-3: 340, 82%, 11%;
  --color-secondary-4: 340, 71%, 18%;
  --color-secondary-5: 340, 60%, 27%;
  --color-secondary-6: 340, 48%, 36%;
  --color-secondary-7: 340, 37%, 47%;
  --color-secondary-8: 340, 39%, 58%;
  --color-secondary-9: 340, 45%, 70%;
  --color-secondary-10: 340, 51%, 80%;
  --color-secondary-11: 340, 57%, 89%;
  --color-secondary-12: 340, 67%, 96%;
  /* ------------------------
     Secondary Light Shades
  ------------------------ */
  --color-secondary-light-1: 340, 97%, 0%;
  --color-secondary-light-2: 340, 88%, 2%;
  --color-secondary-light-3: 340, 76%, 6%;
  --color-secondary-light-4: 340, 63%, 12%;
  --color-secondary-light-5: 340, 49%, 20%;
  --color-secondary-light-6: 340, 37%, 30%;
  --color-secondary-light-7: 340, 26%, 43%;
  --color-secondary-light-8: 340, 23%, 56%;
  --color-secondary-light-9: 340, 25%, 69%;
  --color-secondary-light-10: 340, 27%, 81%;
  --color-secondary-light-11: 340, 28%, 91%;
  --color-secondary-light-12: 340, 28%, 97%;

  /* ------------------------
     Tertiary Darker Shades
  ------------------------ */
  --color-tertiary-dark-1: 50, 98%, 4%;
  --color-tertiary-dark-2: 50, 93%, 10%;
  --color-tertiary-dark-3: 50, 86%, 16%;
  --color-tertiary-dark-4: 50, 77%, 23%;
  --color-tertiary-dark-5: 50, 66%, 31%;
  --color-tertiary-dark-6: 50, 56%, 40%;
  --color-tertiary-dark-7: 50, 45%, 49%;
  --color-tertiary-dark-8: 50, 51%, 59%;
  --color-tertiary-dark-9: 50, 58%, 68%;
  --color-tertiary-dark-10: 50, 65%, 78%;
  --color-tertiary-dark-11: 50, 74%, 87%;
  --color-tertiary-dark-12: 50, 84%, 94%;
  /* ------------------------
     Tertiary Base Palette
  ------------------------ */
  --color-tertiary-1: 50, 97%, 2%;
  --color-tertiary-2: 50, 91%, 6%;
  --color-tertiary-3: 50, 82%, 11%;
  --color-tertiary-4: 50, 71%, 18%;
  --color-tertiary-5: 50, 60%, 27%;
  --color-tertiary-6: 50, 48%, 36%;
  --color-tertiary-7: 50, 37%, 47%;
  --color-tertiary-8: 50, 39%, 58%;
  --color-tertiary-9: 50, 45%, 70%;
  --color-tertiary-10: 50, 51%, 80%;
  --color-tertiary-11: 50, 57%, 89%;
  --color-tertiary-12: 50, 67%, 96%;
  /* ------------------------
     Tertiary Light Shades
  ------------------------ */
  --color-tertiary-light-1: 50, 97%, 0%;
  --color-tertiary-light-2: 50, 88%, 2%;
  --color-tertiary-light-3: 50, 76%, 6%;
  --color-tertiary-light-4: 50, 63%, 12%;
  --color-tertiary-light-5: 50, 49%, 20%;
  --color-tertiary-light-6: 50, 37%, 30%;
  --color-tertiary-light-7: 50, 26%, 43%;
  --color-tertiary-light-8: 50, 23%, 56%;
  --color-tertiary-light-9: 50, 25%, 69%;
  --color-tertiary-light-10: 50, 27%, 81%;
  --color-tertiary-light-11: 50, 28%, 91%;
  --color-tertiary-light-12: 50, 28%, 97%;

  /* ------------------------
     Spacing (rem-based)
  ------------------------ */
  --space-xxs: 0.25rem; /* 4px */
  --space-xs: 0.5rem; /* 8px */
  --space-sm: 0.75rem; /* 12px */
  --space-md: 1rem; /* 16px */
  --space-lg: 1.5rem; /* 24px */
  --space-xl: 2rem; /* 32px */
  --space-2xl: 3rem; /* 48px */
  --space-3xl: 4rem; /* 64px */

  /* ------------------------
     Border radius
  ------------------------ */
  --radius-sm: 0.25rem; /* 4px */
  --radius-md: 0.5rem; /* 8px */
  --radius-lg: 1rem; /* 16px */

  /* ------------------------
     Transitions
  ------------------------ */
  --transition-fast: 0.2s ease-in-out;
  --transition-medium: 0.4s ease-in-out;
  --transition-slow: 0.6s ease-in-out;
}

* {
  font-family: "Inter", sans-serif;
  font-display: swap;
  text-transform: lowercase;
  letter-spacing: -0.01em;
  box-sizing: border-box;
  line-height: 1.2em;
  margin: 0;
  padding: 0;
  transition: all 0.1s ease !important;
}

html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}

*::selection {
  background-color: hsla(220, 94%, 72%, 0.5);
}

body {
  margin: 0;
  padding: 0;
}

.cont-anim {
  background: linear-gradient(
    90deg,
    hsl(220, 94%, 32%) 0%,
    hsl(220, 94%, 73%) 50%,
    hsl(220, 94%, 32%) 100%
  );

  /* Clip background to text */
  background-clip: text !important;
  color: transparent !important;
  -webkit-text-fill-color: transparent !important;
  padding: 0 1rem;

  /* Animate the gradient */
  background-size: 300% 300% !important; /* make gradient bigger for movement */
  animation: gradientMove 6s infinite linear !important;
  animation-direction: alternate !important;
}

.links:hover {
  color: hsla(220, 94%, 10%, 1) !important;
}

li div {
  margin-bottom: 0.8rem !important;
}

.scroll-track {
  animation: scroll 5s linear infinite;
  transform: translateX(0);
  gap: 15rem !important;
}

.çubuk {
  background: linear-gradient(
    to bottom,
    hsla(var(--color-primary-dark-8), 0) 0%,
    hsla(var(--color-primary-dark-8), 0.2) 15%,
    hsla(var(--color-primary-dark-8), 0.2) 85%,
    hsla(var(--color-primary-dark-8), 0) 100%
  ) !important;
}

.dot {
  animation: fade 5s ease-out infinite both;
  animation-delay: calc(1.59s + var(--i) * 0.181s);
  aspect-ratio: 1/1;
}

ul ul > li {
  padding-left: 1rem;
}
ul ul ul > li {
  padding-left: 1rem;
}

ol ol > li {
  padding-left: 1rem;
}
ol ol ol > li {
  padding-left: 1rem;
}

li div {
  line-height: 1.2em !important;
}

.image-cont {
    height: 28rem;
    position: relative;
}

.image-cont::before {
  content:"";
  position:absolute;
  inset:0;
  box-shadow:inset 0rem -6rem 4rem rgba(0,0,0,0.7);
  pointer-events:none;
  z-index: 0;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  5% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  55% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 656px) {
  .portfolio-image {
    height: 2.6rem !important;
  }

  .everythingsel {
    width: 100% !important;
  }

  .everything {
    padding: 4rem 1.5rem !important;
  }

  .article-viewer {
    width: 100% !important;
  }

  .articlesel {
    padding: 2rem 2rem 6rem 2rem !important;
  }

  .cont-anim {
    font-size: 4rem !important;
  }
}

li::marker {
  display: none !important;
  content: "";
}

.article-ul {
  background-color: black !important;
}

.link-a:hover {
  text-decoration: underline !important;
}

.running-img {
  animation: shake-rotate 0.3s linear infinite !important;
}

@keyframes scroll {
  0% {
    transform: translateX(-120%);
  }
  100% {
    transform: translateX(calc(200%)); /* adjust depending on total width */
  }
}

@keyframes shake-rotate {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

@keyframes shake-translate {
  0% {
    scale: 1.1;
  }
  50% {
    scale: 0.9;
  }
  100% {
    scale: 1.1;
  }
}
.tok-0 { background-color: hsl(var(--color-primary-dark-11)) }
.tok-1 { background-color:hsl(var(--color-secondary-dark-11)) }
.tok-2 { background-color:hsl(var(--color-tertiary-dark-11)) }